<div class="row">
<div class="col" id='formInput'>

    <button type="button" class="my-3 mr-sm-3 btn btn-secondary float-left" routerLink="/add">Create Dvd</button>
    <form (ngSubmit)="onSubmit()" #f="ngForm" class="form-inline float-right my">

      <!-- SUBMIT -->
      <button
        class="btn btn-primary mb-2 mr-sm-2"
        type="submit"
        [disabled]="!f.valid">Submit</button>
      <!-- SUBMIT -->

      <!-- CATEGORY -->
      <select
        id="category"
        class="form-control mb-2 mr-sm-2"
        [ngModel]="defaultCategory"
        name="category">
        <option value="default">Search Category</option>
        <option value="title">Title</option>
        <option value="year">Release Year</option>
        <option value="director">Director </option>
        <option value="rating">Rating</option>
      </select>
      <!-- CATEGORY -->

      <!-- TERM -->
      <input
        type="text"
        id="term"
        class="form-control mb-2 mr-sm-2"
        [ngModel]="defaultTerm"
        name="term"
        required>
      <!-- TERM -->

    </form>
  </div> <!-- formInput -->
  </div>
