<div class="container">

  <h1 class="text-center">{{ title }}</h1>

  <div class="row">
    <div class="col-6" id='formInput'>
      <form (ngSubmit)="onSubmit()" #f="ngForm">

        <div
          id="dvd-data"
          ngModelGroup="dvdData"
          #dvdData="ngModelGroup">

          <!-- DVD TITLE -->
          <div class="form-group">
            <label for="dvdtitle">Title</label>
            <input
              type="text"
              id="title"
              class="form-control"
              [ngModel]="dvd.title"
              name="title"
              required>
          </div> <!-- DVD TITLE -->

          <!-- DVD YEAR -->
          <div class="form-group">
            <label for="dvdyear">Release Year</label>
            <input
              type="text"
              id="year"
              class="form-control"
              [(ngModel)]="dvd.releaseYear"
              name="year"
              maxlength="4" minlength="4"
              [pattern]="yearPattern"
              required>
          </div> <!-- DVD YEAR -->
          <div [hidden]="!f.touched || valid(dvd.releaseYear)" class="alert alert-danger">Year must be a 4 digit number!</div>

          <!-- DVD DIRECTOR -->
          <div class="form-group">
            <label for="dvddirector">Director</label>
            <input
              type="text"
              id="director"
              class="form-control"
              [ngModel]="dvd.directorName"
              name="director"
              required>
          </div> <!-- DVD DIRECTOR -->

          <!-- DVD RATING -->
          <div class="form-group">
            <label for="dvdrating">Rating</label>
              <select
                id="rating"
                class="form-control"
                [ngModel]="dvd.rating"
                name="rating">
                <option value="G">G</option>
                <option value="PG">PG</option>
                <option value="PG-13">PG-13</option>
              </select>
          </div>

          <!-- DVD NOTES -->
          <div class="form-group">
            <label for="dvdnotes">Notes</label>
            <textarea
              id="notes"
              name="notes"
              [ngModel]="dvd.notes"
              rows="3"
              class="form-control"></textarea>
          </div> <!-- DVD NOTES -->

          <div class="container">
            <button class="btn btn-danger float-left" routerLink="/">Cancel</button>
            <button
              class="btn btn-primary float-right"
              type="submit"
              [disabled]="!f.valid">Submit</button>
          </div>

        </div> <!-- #dvdData-->
      </form>
    </div> <!-- formInput -->
  </div> <!-- row -->
</div> <!-- container -->
