<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Title</th>
      <th scope="col">Release Date</th>
      <th scope="col">Director</th>
      <th scope="col">Rating</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>

    <tr *ngFor="let dvd of dvds" scope="row">

      <td>
        <a
          [routerLink]="['/detail',dvd.id]"
        >
          {{ dvd.title }}
        </a>
      </td>

      <td>{{ dvd.releaseYear }}</td>

      <td>{{ dvd.directorName }}</td>

      <td>{{ dvd.rating }}</td>

      <td>
        <a
          [routerLink]="['/edit',dvd.id]"
        >Edit</a>
        |
        <a
          href="#"
          
        >Delete</a>
      </td>

    </tr>

  </tbody>
</table>
